*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-branco-monocromatico-de-estilo-de-papel_23-2149003153.jpg");
    font-family: 'Arial', courier, monospace; /*alterar fonte*/
    background-size: cover;
    background-repeat: no-repeat

}

nav{
    background-color: black(235, 230, 240)black;
}

a{
    font-size: 30px;
    text-decoration: none;
    color:#120c0c 
 }
    


a:hover {
    text-decoration: underline;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.menu li {
    list-style: none;
}