*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://wallpapers.com/images/hd/purple-and-black-background-9j9dqjtbx7092goi.jpg");
    font-family: 'Arial', courier, monospace; /*alterar fonte*/
    background-size: cover;
    background-repeat: no-repeat

}

nav{
    background-color: rgb(222, 214, 230)#333;
}

a{
    font-size: 30px;
    text-decoration: none;
    color:#e4d7d7 
 }
    


a:hover {
    text-decoration: underline;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.menu li {
    list-style: none;
}